<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"> 
    <link rel="icon" href="../../static/IMG/icon.png" type="image/png">
    <title>Análise de Acidentes de Trânsito</title>
</head>
<body>
  <header class="header">
      <div class="logo">Análise de Acidentes</div>
      <nav class="nav">
          <a href="#">Home</a>
          <a href="#">Sobre</a>
          <a href="#">Funcionalidades</a>
      </nav>
  </header>

  <section class="hero">
      <h1>Explore os dados de acidentes de trânsito de forma inovadora</h1>
      <p>Descubra insights valiosos e promova a segurança nas estradas.</p>
      <button class="cta-button">Comece Agora</button>
  </section>

  <section class="cards">
      <div class="card">
          <h3>Acidentes por Localização</h3>
          <p>Dados sobre onde os acidentes ocorrem com mais frequência.</p>
          <a href="#localizacao" class="card-button">Ver Mais</a>
      </div>
      <div class="card">
          <h3>Fatores de Risco</h3>
          <p>Identificação dos principais fatores que contribuem para acidentes.</p>
          <a href="#fatores" class="card-button">Ver Mais</a>
      </div>
      <div class="card">
          <h3>Estatísticas Mensais</h3>
          <p>Análise de tendências mensais de acidentes de trânsito.</p>
          <a href="#estatisticas" class="card-button">Ver Mais</a>
      </div>
      <div class="card">
          <h3>Medidas de Segurança</h3>
          <p>Recomendações para melhorar a segurança nas estradas.</p>
          <a href="#seguranca" class="card-button">Ver Mais</a>
      </div>
  </section>
</body>
</html>